@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

.student-management-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    margin-left: 350px;
    color: #383838;
}

.student-summary-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    margin-left: 350px;
    color: #383838;
    font-size: 30px;
}

.student-summary-boxes {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 30px 50px;
    flex-wrap: wrap;
    margin-left: 350px;
    text-align: center;
}

.student-summary-box {
    width: 350px;
    height: 250px;
    border: 2px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.student-summary-label-container {
    display: flex;
    justify-content: space-between; /* Place the label and image on opposite sides */
    width: 100%; /* Make the container take full width */
    align-items: center; /* Align vertically */
    padding: 0 10px; /* Add padding to the sides */
}

.student-summary-label {
    font-size: 24px;
    color: #555;
    margin-bottom: 10px;
    font-family: 'Poppins', sans-serif;
    text-align: center; /* Default alignment */
}

.student-summary-image {
    width: 40px; /* Set image size */
    height: 40px;
    margin-left: 10px; /* Space between the label and the image */
}

.student-summary-value {
    font-size: 65px;
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
}

.student-summary-description {
    font-size: 20px;
    color: #888;
    margin-top: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

.description-flex {
    display: flex;
    gap: 120px;
    width: 100%;
    align-items: center;
    padding: 0 5px;
    font-size: 25px;
}

.left-align-value {
    font-size: 75px;
    margin-right: 200px;
    padding-left: 12px;
    display: block;
}

.subject-list {
    position: absolute;
    bottom: -150px;
    left: 0;
    background-color: #f9f9f9;
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.15);
    opacity: 0;
    visibility: hidden;
    transform: translateY(10px);
    transition: all 0.3s ease;
    z-index: 10;
    display: inline-block;
    width: max-content;
    white-space: nowrap;
    text-align: left;
}

.student-summary-box:hover .subject-list {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    bottom: -150px; /* Ensures tooltip stays below */
}

.subject-list ul {
    margin: 0;
    padding-left: 20px;
    font-size: 14px;
}

.subject-list p {
    margin: 0;
    font-style: italic;
}

.subject-list strong {
    font-style: italic;
    text-align: left;
    font-size: 18px;
}
