/* MonthlyChampion.css */
.monthly-champion-container {
    padding: 20px;
    text-align: center;
    font-family: 'Poppins', sans-serif; /* Unified font */
}

.monthly-champion-table-container {
    width: 100%;
    overflow-x: auto;
    margin-left: 340px;
}

.monthly-champion-table {
    width: 100%;
    border-collapse: collapse;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border: 2px solid #ddd;
    font-family: 'Poppins', sans-serif; /* Unified font */
    border-radius: 8px; /* Optional: for rounded corners */
}

.monthly-champion-th {
    background-color: #F4F7FC;
    padding: 12px;
    text-align: center;
    border-bottom: 2px solid #ddd;
    font-size: 20px;
    font-weight: bold; /* Adding bold text to headers */
}

.monthly-champion-td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
    border: 2px solid #ddd;
    text-align: center; /* Aligning data to center */
}

.monthly-champion-action-btn {
    background-color: #DC2626;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}
.monthly-champion-search-container {
    display: flex;
    justify-content: flex-end;
    margin-right: 20px;
}

.monthly-champion-search-input {
    width: 476px;
    height: 60px;
    border-radius: 8px;
    border: 1px solid #333333;
    font-size: 16px;
}
