.esl-spark-chart-container {
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px;
    width: 1550px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    margin-left: 350px;
    font-family: 'Poppins';
}

.esl-spark-chart-title p {
    font-family: 'Poppins';
    text-align: left;
    margin-left: 5px;
    margin-top: -12px;
    font-family: 'Poppins';
    font-size: 0.95rem;
    font-style: italic;
    color: #666666;
}

.esl-spark-chart-title h2 {
    font-family: 'Poppins';
    text-align: left;
    font-weight: 700;
}

.department-dropdown {
    font-size: 24px;
    font-weight: bold;
    background-color: transparent;
    border: none;  /* Remove border */
    cursor: pointer;
    text-align: left;
    display: inline-block;
    width: auto; /* Adjusts width based on content */
    min-width: 200px; /* Optional: ensures consistent minimum width */
    padding-right: 24px; /* Optional: provides space for dropdown arrow */
    padding: 6px; /* Provides internal padding */
    margin-bottom: 0.5rem; /* Adds some space below the dropdown */
}

.department-dropdown {
    padding: 6px;
    font-size: 24px;
    margin-bottom: 0.5rem;
}
