.student-dropdown-container {
    display: flex;
    gap: 20px;
    justify-content: flex-start;
    margin-left: 320px;
    margin-top: 20px;
}

.student-dropdown-wrapper,
.code-dropdown-wrapper {
    position: relative;
}

.student-dropdown-btn {
    padding: 10px 20px;
    background-color: #FBF7F7;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    height: 50px;
}

.student-dropdown-btn .dropdown-arrow {
    margin-left: auto;
}

.student-dropdown-menu,
.code-dropdown-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 50px;
    left: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    width: max-content;
    border-radius: 5px;
}

.student-dropdown-item,
.code-dropdown-item {
    margin: 0;
    padding: 8px 12px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.student-dropdown-item:hover,
.code-dropdown-item:hover {
    background-color: #f0f0f0;
}

.student-dropdown-item.selected,
.code-dropdown-item.selected {
    font-weight: bold;
    background-color: #e0e0e0;
}

.student-dropdown-btn:disabled {
    background-color: #f0f0f0;
    cursor: not-allowed;
}
