.epgf-rubric-student-dropdown-container {
  display: flex;
  gap: 20px;
  justify-content: flex-start;
  margin-left: 340px;
  margin-top: 20px;
}

.dropdown-button-wrapper {
  display: flex;
  align-items: center;
}

.student-dropdown-wrapper,
.code-dropdown-wrapper {
  position: relative;
}

.epgf-rubric-student-dropdown-btn,
.set-default-btn,
.code-dropdown-btn {
  padding: 10px 20px;
  background-color: #FBF7F7;
  color: black;
  border: 1px solid black;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
  display: flex;
  align-items: center;
  width: 220px;
  height: 50px;
}

.epgf-rubric-student-dropdown-btn .dropdown-arrow,
.code-dropdown-btn .dropdown-arrow {
  margin-left: auto;
}

.asterisk {
  color: red;
}


.set-default-btn {
  background-color: #6B6D76;
  color: #FFFFFF;
  border: none; /* No border */
  width: 110px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  margin-right: 40px;
}

.student-dropdown-menu,
.code-dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 50px; /* Keeps the dropdown aligned vertically */
  left: 0;
  background-color: #FBF7F7; /* Same as button background */
  border: 1px solid black; /* Same as button border */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  width: 220px;
  border-radius: 5px;
  margin-top: 5px;
}

.student-dropdown-item,
.code-dropdown-item {
  margin: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.student-dropdown-item:hover,
.code-dropdown-item:hover {
  background-color: #e0e0e0; /* Slight hover effect */
}

.student-dropdown-item.selected,
.code-dropdown-item.selected {
  font-weight: bold;
  background-color: #e0e0e0; /* Highlight selected item */
}

.epgf-rubric-student-dropdown-btn:disabled,
.set-default-btn:disabled {
  background-color: #f0f0f0;
  cursor: not-allowed;
}
